<!-- 
* File Name: views/home.ejs
* Name: Inderjit Singh Bedi 
* Student Id: 301313264
* Date: 11/02/2023
 -->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Empowering your vision with my skills!</div>
        <div class="masthead-heading text-uppercase">Innovating and creating, with a passion for Full Stack development</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/about">Learn more</a>
    </div>
</header>