<!-- 
* File Name: views/services.ejs
* Name: Inderjit Singh Bedi 
* Student Id: 301313264
* Date: 11/02/2023
 -->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Empowering businesses through JavaScript expertise..</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Front-end Development</h4>
                <p class="text-muted">Building dynamic and interactive user interfaces using technologies such as HTML, CSS, JavaScript, and Angular/ReactJs/VueJs.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Back-end Development</h4>
                <p class="text-muted">Developing server-side logic and APIs using technologies such as Node.js, Express, and MongoDB.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Database Development  </h4>
                <p class="text-muted"> Designing and implementing databases to store and retrieve data, using technologies such as SQL, MySQL and MongoDB.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Mobile App Development</h4>
                <p class="text-muted">Creating cross-platform mobile applications using technologies such as Ionic.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-bug fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Testing and Debugging</h4>
                <p class="text-muted">Testing web applications to identify and resolve bugs and issues, and implementing continuous integration and delivery processes to ensure software quality.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Cloud Integration  </h4>
                <p class="text-muted"> Integrating web applications with cloud platforms such as AWS and Microsoft Azure to provide scalable and reliable hosting solutions.</p>
            </div>
        </div>
    </div>
</section>