<!-- 
* File Name: views/about.ejs
* Name: Inderjit Singh Bedi 
* Student Id: 301313264
* Date: 11/02/2023
 -->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Me</h2>
            <h3 class="section-subheading text-muted">Building a better future.</h3>
        </div>
        <div class="row align-items-stretch mb-5">
            <div class="col-md-6">
                <div class="timeline-heading">
                    <h4>Meet Inderjit Singh Bedi</h4>
                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                </div>
                <div class="timeline-image text-center">
                    <img class="img-fluid" src="assets/images/about/inderjitbedi.jpg" alt="..." />
                </div>
            </div>
            <div class="col-md-6">
                <div class="timeline-panel">
                    <!-- <div class="timeline-heading">
                        <h4>Meet Inderjit Singh Bedi</h4>
                    </div> -->
                    <div class="timeline-body  mt-4">
                        <p class="text-muted">
                            IT Professional with 7+ years of experience. Experienced in Agile Development process.
                            Expertise in Frontend Technologies and Angular applications. Good hands-on experience in
                            Backend Development in NodeJs. Involved in end-to-end phases of software development
                            including requirement gathering and
                            deployment. High-level requirements elicitationand gathering with business stakeholders.
                            Experience in Health-care &Digital/Online domains. Hands on exposure in preparing
                            Requirement Documentation. Responsible for defining acceptance criteria and perform UAT.
                            Extensive experience in interacting and coordinating business stakeholders, leadership and
                            onshore/offshore teams. Excellent communication skills and detail-oriented worker.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class=" img-fluid rounded-circle " src="assets/images/about/edifecs-logo.jpeg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020-2022</h4>
                        <h4 class="subheading">Edifecs</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Contributed in implementing visual elements that users will see and
                            interact via web
                            browsers, and to provide optimal solutions for problems which occur in day-to-day
                            development of an
                            enterprise level product.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="assets/images/about/onebcg-logo.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2018-2020</h4>
                        <h4 class="subheading">ONEBCG</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">As a full developer I was handed the responsibility to overall plan and
                            develop robust web and mobile
                            applications including RESTful APIs for these applications. Understanding and managing
                            client interactions
                            and requirements was also the part of my responsibilities here. </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="assets/images/about/igniva-logo.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2016-2018</h4>
                        <h4 class="subheading">Igniva</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">As a full stack developer, I managed to handle both front and back-end
                            coding. Designing user interactions
                            on websites, developing servers with NodeJs, and databases for website functionality were
                            part of my
                            responsibilities here. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted ">
                <div class="timeline-image pt-70">
                    <a class="pt-4 cursor-pointer" href="assets/cv/InderjitBedi-CV-FullStackDeveloper.pdf" download  target="_blank">
                        Download
                        CV
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>